<!DOCTYPE html>
<html>

  <head>
    <title>SmartTwits</title>
    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' type='text/css' href="css/interface.css">
  </head>

  <body>

    <section class='navbar navbar-default'>
      <img class='navbar navbar-brand' id='logo' src='/images/twitterplus.svg'>
      <h1 class='navbar navbar-right'>SmartTwits</h1>
    </section>

    <section class="container">
      
    <section class='row'>
      <section class='col-md-2'id="trends">
        <h3>Trending</h3>
        <%= erb :trends %>
      </section>

      <section class='col-md-10 ' id="words">
        <h3>Commonly occuring words:</h3>
        <section id="word-cloud">
        </section>
        <%= erb :words %>
      </section>

      <section class='col-md-10'></section>

      <section class='col-md-3' id="retweets">
        <h3>Most retweeted:</h3>
        <%= erb :retweets %>
      </section>
    
      <section class='col-md-2' id="mentions">
        <h3>Most mentions:</h3>
        <%= erb :mentions %>
      </section>

      <section class='col-md-3' id="followers">
        <h3>Influential tweets:</h3>
        <%= erb :followers %>
      </section>

      <section class='col-md-2' id="media">
        <h3>Media tweets:</h3>
        <%= erb :media %>
      </section>

    </section>

    </section>
  </body>

</html>
