<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <ul>
      <% @trends_list.each do |trend| %>
        <li><a href="/trends<%= trend[1] %>"><%= trend[0] %></a></li>
      <% end %>
    </ul>
 
  </body>

</html>


retweets.erb

<section id="retweets">
  Retweets
  <ul>
    <% @retweets.each do |tweet| %><li><%= "'#{tweet[0]}'. Number of retweets: #{tweet[1]}" %></li>
    <% end %>
  <ul>
</section><br>

Followers

<section id="followers">
  Followers
  <ul>
    <% @followers.each do |el| %>
      <li><%= "#{el[0]}: '#{el[1]}' Followers: #{el[2]}" %></li>
    <% end %>
  </ul>
</section><br>

Mentions

<section id="mentions">
  Mentions
  <ul>
    <% @mentions.each do |mention| %>
      <li><a href="http://twitter.com/<%= mention[0] %>"><%= mention[0] %></a> Mentioned <%= mention[1] %> times</li>
    <% end %>
  </ul>
</section><br>